body {
    margin: 0;
    font-family: 'Liberation Sans', Arial, sans-serif;
    max-width: 100%;
}
.header {

    background: linear-gradient(-135deg, rgb(250, 152, 229), rgb(16, 223, 223), rgb(30, 218, 30))no-repeat center center fixed;
    margin: 0;
    height: 300px;
}
.icon {
    -webkit-transform: rotate(0deg);
	transform: rotate(0deg);
    margin: 0;
    height: 310px;
    width: 310px;
    max-width: 100%;
}
h3 {
    text-align: center;
}

#posts {
    margin-left: 10%;
    padding: 0;
    width: 900px;

    margin-right:300px;
    max-width: 100%;
}

article {
    margin-top: 100px;
    background: linear-gradient(135deg, rgb(250, 152, 229), rgb(16, 223, 223), rgb(30, 218, 30))no-repeat center center fixed;
    margin-left: -80px;
    border: 6px dotted greenyellow;
    margin-bottom: 25px;
    max-width: 100%;
}

article p {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.1em;
}


img {
    -webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    margin-left: 100px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 700px;
}

.parrafo {
    display: none;
}
.date {
    margin-top: 10%;
    margin-right: 20%;
    text-align: right;
    padding-bottom: 30px;
    
}
.title {
    padding-top: 30px;
    margin-left: 50px;
    font-weight: 300;
    margin-bottom: 10%;
}
.spotify {
    height: 46%;
    margin-left:78%;
    position: fixed;
    margin-top: -300px;
}
img:hover {
    -webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
#ban{
    display:none;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
button {
    float: right;
    height: 40px;
    margin-bottom: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: linear-gradient(-135deg, rgb(250, 152, 229), rgb(16, 223, 223), rgb(30, 218, 30));
    border: none;
  }
button:hover {
    background: rgb(250, 152, 229);
    animation: pulse .2s infinite;
}
@keyframes pulse {
    0%, 100%  {
      background-color: rgb(250, 152, 229);
    }
    33% {
      background-color: rgb(16, 223, 223);
    }
    66% {
      background-color: rgb(30, 218, 30);
    }
  
  }
.youtube {
    position: relative;
    max-width: 88vw;
    max-height: 50vw;
    padding-bottom: 3%;
}
@media screen and (max-width: 980px) {
    img{
      width: 88%;
      height: auto;
      -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-left: 10%;
        margin-right: auto;
    }
    
    .icon{
        padding-right:0;
        height: 310px;
        width: 310px;
    }
    #posts{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    article {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .spotify {
        display: none;
    }
    #ban {
        bottom: 0;
        position: fixed;
        display: block;
        z-index: 10;
        
    }
    #banner {
        margin: 0;
        width: 100%;
        height: auto;
        padding: 0;
        opacity: 0.8;
        z-index: 3;
    }
    #banner:hover {
        -webkit-animation: flash 1.5s;
        animation: flash 1.5s;
        opacity: 1;
    }
    #close {
        float: right;
        position: absolute;
        padding: 0;
        z-index: 11;
        right:1%;
        height: 11%;
        width: auto;
        cursor: pointer;
    }
  }