body {
    margin: 0;
    font-family: 'Liberation Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
}

#posts {
    margin: 0 auto;
    padding: 0;
    width: 900px;
    margin-right:300px;
    list-style-type: none;
}

article h3 {
    text-align: left;
    border-bottom: 1px dotted #E3E3E3;
}

article p {
    text-align: justify;
    line-height: 1.5;
    font-size: 1.1em;
}

#loading {
    display: none;
    text-align: center;
}

img {
    width: 700px;
}

.parrafo {
    display: none;
}
.date {
    margin-bottom: 125px;
}